.headerOne {
  color: #f0efed;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 74px;
  text-align: center;

  letter-spacing: -0.03em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
}

.headerPosition {
  padding-top: 8em;
}

.headerPosition > span {
  text-align: center;
}
