.container-top {
  position: relative;
  top: 6.5em;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid red;
}

.containerCenter {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid magenta;
}

.containerCenter h3 {
  right: 1.7em;
  bottom: 1em;
  color: #f0efed;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */

  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
}

.button-yellow {
  left: 16em;
  bottom: 1em;
  background: #e3aa6d;
  width: 229px;
  height: 48px;
  color: #1a1612 !important;
  border: 4px solid rgba(240, 239, 237, 0.16) !important;
  border-radius: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 115.14%;
  /* identical to box height, or 20px */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
}

.button-yellow:hover {
  transform: rotate(45deg);
}

.text-container {
  margin-bottom: 2.5em;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32.9px;
  letter-spacing: -0.03em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
  color: #f0efed;
  text-align: center;
  padding-left: 3em;
}
.text-highlight {
  opacity: 0.6;
}

@media (max-width: 366px) {
  #firstEmailInput {
    margin-left: 20px;
  }
}

.rowHeaders {
  padding-bottom: 64px;
}

@media (min-width: 992px) {
  .contLife{
    position: relative;
      left: 1em;
      margin-bottom: 34px;
  }

  .topContainer{
    margin-top: -24px;
  }

  .accordionCont{
    height: 422px;
  }
}

@media (max-width: 380px) {
  .text-container {
    margin-bottom: 2.5em;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 31px;
    letter-spacing: -0.03em;
    font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
    color: #f0efed;
    padding: 0px 3px;
    text-align: start;
  }

  .lifeText{
    margin-left: 10px;
  }
  .accordionCont{
    margin-top: 120px;
  }
.accordionRow{
  padding: 0px 4px;
}

.accordionCont{
  height: 442px;
}

}

