.accordionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
  color: #f0efed;
}


.accordionContainer:hover{
    cursor: pointer;
}

.accordionContainer {
  display: flex;
  justify-content: space-between;
}

.accordionContainer p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110.9%;

  letter-spacing: -0.03em;

  color: #f0efed;
}

.accordionContainer span {
  position: absolute;
  right: 0;
}

.accordionContainer span:hover {
  cursor: pointer;
}

.lineAccordion{
    opacity: 0.99;
}

.accordionHeading {
  padding-right: 44px;
  position: relative;

}


.accordion{
  border-top: 1px solid #2B2724;
  padding-top: 20px;
  padding-bottom: 8px;
}

.borderBottom{
  border-bottom: 1px solid #2B2724;
}


@media (min-width: 0px) and  (max-width: 391px) {
  .accordionContent {
    width: 107%;  
  }

  .accordion{
    border-top: 1px solid #2B2724;
    padding-top: 18px;
    padding-bottom: 8px;
  }

  .accordionContainer p {
 
    font-size: 30px;
  }

  .firstText{
    margin-bottom: 3px;
    padding-right: 24px;
  }

  .secondText{
    padding-right: 24px;
  
  }

}

@media (min-width:366px) and  (max-width: 391px) {
  .accordionContent {
    width: 107%;
    
  }
}

@media (min-width:386px) and  (max-width: 391px) {
  .accordionContent {
    width: 105%;
    
  }
}


@media (min-width: 391px) and (max-width: 422px) {
  .accordionContent {
    width: 94%;
    
  }
}

@media (min-width: 422px) and (max-width: 1200px) {
  .accordionContent {
    width: 85%;
    
  }
}


@media (min-width: 991px) and (max-width: 1200px) {
  .accordionContent {
    width: 78%;
    
  }
}

@media (min-width:1200px) and (max-width: 1400px) {
  .accordionContent {
    width: 65%;
    
  }
}


@media (min-width:1400px) {
  .accordionContent{
    width: 55%;
    
  }
}








@media (max-width: 365px) {
  .accordionContent {
    width: 105%;
    
  }
}