.emailComp {
  display: flex;
  justify-content: space-between;
  width: 335px;
  height: 56px;
  border: 1px solid #f0efed;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #1a1612;
}

@media (max-width: 371px) {
  .emailComp {
    width: 280px;
  }
}

.beFirst{
  margin-top: 0.75em;
  display: flex;
  justify-content: center;
}

.beFirst p {
  width: 335px;
  height: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}


.emailInput {
  border: none;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #1a1612;
  color: #f0efed;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-left: 0.5em;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */
  border-radius: 90px;
  opacity: 0.6;
}

.emailInput:hover {
  border: none;
  cursor: pointer;
}
.emailInput:focus {
  outline: none;
}

/* Change the white to any color */
.emailInput:-webkit-autofill,
.emailInput:-webkit-autofill:hover,
.emailInput:-webkit-autofill:focus,
.emailInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1a1612 inset !important;
  box-shadow: 0 0 0 30px #1a1612 inset !important;
  -webkit-text-fill-color: #f0efed !important;
}

.emailSubmit {
  margin-top: 0.18em;
  width: 80px;
  height: 48px;
  background: #e3aa6d;
  border-radius: 40px;
  border: none;
  margin-right: 0.2em;
}

.emailSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 335px;
  height: 56px;

  /* Dark */

  background: #1a1612;
  opacity: 0.2;
  /* Light */

  border: 1px solid #f0efed;
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}

.beFirst {
  margin-top: 0.75em;
}

.errorMessage {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;

  opacity: 0.6;
}


@media (max-width: 371px) {
  .beFirst p {
    width:250px;
  }

  .emailSuccess {
    width:280px;
  }

}
