#csoon {
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Dark Medium */

  background: #2b2724;
  border-radius: 14px;
  margin-bottom: 4em;
}

.commingSoon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
.commingSoon h1 {

  /* big */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 74px;
  /* identical to box height, or 103% */

  text-align: center;
  letter-spacing: -0.03em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}

.commingSoon h3 {
  margin-top: 0.7em;
  margin-bottom: 1.5em;

  /* subtitle */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}

.csooncontainer {
  margin-bottom: 6em;
}

@media (max-width: 366px) {
  .csooncontainer {
    width: 375px;
    height: 474px;
    /* Dark Medium */

    background: #2b2724;
  }
  #csoon{
    position: relative;
    left: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px;
    ;
    width: 375px;
    height: 474px;
    
    /* Dark Medium */
    
    background: #2B2724;
  }

 
}
