.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navParagraph {
  margin-top: revert !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
  margin-left: 10px;
}

.col-navbar {
  display: flex;
  justify-content: space-around;
}
.navbar {
  width: 90%;
  justify-content: space-between;
  background: #1a1612;
  padding-top: 1em;
  border: 2px solid maroon;
}
.nav-items {
  position: relative;
  right: 0.2em;
  display: flex;
  width: 17%;
  justify-content: space-around;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}

.button-link-header {
  position: relative;
  width: 110%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 115.14%;
  /* identical to box height, or 20px */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
  border-radius: 35px;
  background-color: #1f1b16;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 7px 11px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  opacity: 0.6;
}

.button-link-header:hover {

  background-color: #3d3d3d;
  border: 2px solid #F0EFED;
}

.button-navbar {
  position: relative;
  right: 1em;
  top: 0.63em;
}

a {
  color: #f0efed;
  text-decoration: none;
}

#rowNavbar {
  margin-top: 2em;
}

.colNavbar {
  border-bottom: 1px solid #2b2724;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 6px;
}


@media (max-width: 450px) {
  .colNavbar {
    border-bottom: none;
    padding-right: 9px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 6px;
  }

  .button-link-header{
    width: 100%;
  }

  .navCont {
    position: relative;
    left: 2em;
    width: 140%;
  }
}


@media (max-width: 365px) {
  #contNavbar {
    width: 105%;
    padding-left: 1em;
  }
}
