.flexCol {
  justify-content: space-between !important;
}

.logo-wrap-footer {
  display: flex;
  align-items: center;
}

.col-navbar {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 90%;
  justify-content: space-between;
  background: #1a1612;
  padding-top: 1em;
  border: 2px solid maroon;
}

.nav-items {
  position: relative;
  right: 0.2em;
  display: flex;
  width: 17%;
  justify-content: space-around;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
}

.button-link {
  position: relative;
  width: 110%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 115.14%;
  /* identical to box height, or 20px */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;
  border-radius: 35px;
  background-color: #1f1b16;
  border: 1px solid #302C29;
  padding: 7px 11px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  opacity: 0.6;
}

.button-link:hover {
  border: 1px solid #666461;
}

.button-navbar {
  position: relative;
  right: 1em;
  top: 0.63em;
}

a {
  color: #f0efed;
  text-decoration: none;
}

.lineFooter {
  opacity: 0.99;
}

.bootomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyRight {
  /* mobile app/small medium */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;

  opacity: 0.3;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
}

.socialMedia a {
  margin-left: 12px;
}

#footerRow {
  margin-top: 11em;
  margin-bottom: 3em;
}

.partners {
  margin-top: -3px;
}

.partners p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  color: #f0efed;

  opacity: 0.3;
}

.img_footer {
  display: flex;
}

.img_footer img {
  width: 327px;
}

@media (max-width: 992px) {
  .img_footer {
    margin-right: 0em;
  }
}

@media (min-width: 992px) {
  .flexCol {
    height: 40px;
  }

  .socialMedia img:hover {
 background-color: #70706f;
 border-radius: 18px;
 opacity: 1;
}
}

@media (max-width: 436px) {
  .img_footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .logo-wrap-footer {
    margin-left: 14px;
    padding-top: 46px;
  }

  .lineFooter {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f0efed;
    opacity: 0.1;
  }

  .buttonDiv {
    margin-top: 30px;
    margin-bottom: 32px;
  }

  .bootomContainer {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
  }

  .socialMedia {
    margin-bottom: 24px;
  }

  .socialMedia img {
    width: 40px;
    height: 40px;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .partners p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;
    color: #f0efed;
    margin-bottom: 10px;
    opacity: 0.3;
  }

  .img_footer {
    padding: 0 32px;
  }

  .img_footer img {
    width: 100%;
    max-width: 270px;
  }

  .footerCont {
    background-color: #2b2724;
    padding-bottom: 1px;
  }

  .flexCol {
    flex-direction: column;
  }
}
