.csDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  margin-top: 100px;

  width: 105px;

  /* Dark Medium */

  background: #2b2724;
  border-radius: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "ss03" on, "cv01" on, "cv02" on;

  /* Light */

  color: #f0efed;

  opacity: 0.6;
}


@media (max-width: 992px) {
  .csDiv {
    margin-top: 20px;
  }
}