.slider {
  height: 40vh;
}

.sw-spiritus {
  height: 50vh;
}

.sw-spiritus .swiper-slide {
  height: 50vh;
  width: 100vh;
}

.sw-gallery-spiritus {
  height: 80vh;
  width: 80vw;
}

.sw-gallery-spiritus .swiper-slide {
  height: 80vh;
  width: 80vw;
}

.sw-gallery-spiritus .swiper-button-next {
  color: #F0EFED;
  opacity: 85%;
}

.sw-gallery-spiritus .swiper-button-prev {
  color: #F0EFED;
  opacity: 85%;
}

.sw-gallery-spiritus .swiper-pagination-bullet {
  background-color: #666461;
  opacity: 75%;
}


.sw-gallery-spiritus .swiper-pagination-bullet-active {
  background-color: #F0EFED;
}

