.slider {
  height: 335px;
}

/* .slider .slider-image-wrap {
  opacity: 0;
  transition: all 1s ease;
  position: relative;
  overflow: visible;
  width: max-content;
}

.slider .swiper-slide {
  width: 220px;
  height: 303px;
}

.slider .swiper-slide img {
  width: 220px;
  height: 248px;
}

.slider-arrow-right {
  position: relative;
} */

/* .slider .swiper-slide-active{
  z-index: 4;
  border: solid 10px #171411;
  border-radius: 28px;
} */

