.react-date-picker {
  @apply relative flex w-full items-center;
}

.react-date-picker__wrapper {
  @apply flex w-full text-lg;
}

.react-date-picker__inputGroup {
  @apply w-full text-sp-black dark:text-sp-white flex justify-center items-center;
}

.react-date-picker__inputGroup__input {
  @apply bg-inherit focus:outline-none;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-date-picker__inputGroup__input:invalid {
  @apply bg-sp-black;
}

.react-date-picker__button:enabled {
  @apply cursor-pointer;
}

.react-date-picker__button svg {
  @apply text-sp-black dark:text-sp-white stroke-sp-lighter;
}
.react-date-picker__calendar {
  /* @apply w-80 absolute top-10 left-0 z-10; */
  @apply absolute mt-3 z-10;
}

.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker__calendar .react-calendar {
  @apply border-2 dark:border-sp-medium p-1 border-sp-fawn shadow z-50;
}

.react-calendar {
  @apply bg-sp-day-100 dark:bg-sp-medlight rounded-lg;
}

.react-calendar__navigation {
  @apply flex h-14 text-sp-black dark:text-sp-white border-b-2 border-sp-medium;
}

.react-calendar__navigation button {
  @apply w-11 hover:bg-sp-fawn hover:text-sp-black rounded-lg mb-1;
}

.react-calendar__month-view__weekdays {
  @apply hidden;
}

.react-calendar__month-view__weekdays__weekday {
  @apply hidden;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-sp-lighter !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  @apply p-3 mt-1 rounded-xl;
}

.react-calendar__tile {
  @apply text-sp-black dark:text-sp-white text-sm py-2 hover:bg-sp-fawn rounded hover:text-sp-black my-0.5;
}

.react-calendar__tile--now {
  @apply bg-sp-fawn text-sp-black;
}

.react-calendar__month-view__days {
  @apply my-1;
}

/* .react-date-picker__inputGroup__divider {
    @apply text-sp-medium
} */