.sp-banner-shadow {
  box-shadow: 0px 16px 48px rgba(227, 170, 109, 0.2);
}

.sp-image-shadow {
  box-shadow: 0px 8px 16px rgba(255, 51, 153, 0.16);
}

.sp-text-shadow {
  text-shadow: 0px 4px 30px #000000;
}

[data-placeholder]::after {
  content: " ";
  box-shadow: 0 0 50px 9px gray;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  animation: load 1s infinite;
}
@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.ob-box {
  width: 240px;
  height: 200px;
  background-color: #a0a0a0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #dbd4ce;
}

.ribbon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  width: 160px;
  height: 25px;
  right: -40px;
  top: -10px;
  overflow: hidden;
  background: linear-gradient(90deg, #ED9A4C 0%, #E3AA6D 100%);
  box-shadow: -1.41509px 1.41509px 0.943397px rgba(0, 0, 0, 0.15);
  border: 2px solid #dbd4ce;
}

.mini-ribbon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -20px;
  width: 90px;
  height: 20px;
  overflow: hidden;
  background: linear-gradient(90deg, #d67915 0%, #ed9a4c 100%);
  box-shadow: -1.41509px 1.41509px 0.943397px rgba(0, 0, 0, 0.15);
  border: 2px solid #dbd4ce;
}

.dark .mini-ribbon {
  border: 3px solid #171411;
}

.dark .ribbon {
  border: 3px solid #171411;
}

.hero-gradient {
  background: linear-gradient(180deg, #F0EBE6 0%, rgba(240, 235, 230, 0.74) 43.84%, rgba(240, 235, 230, 0.5) 54.37%, rgba(240, 235, 230, 0) 65.24%);
}

.dark-hero-gradient {
  background: linear-gradient(180deg, #171411 0%, rgba(23, 20, 17, 0.74) 43.84%, rgba(23, 20, 17, 0.5) 54.37%, rgba(23, 20, 17, 0) 65.24%);
}