.radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e3aa6d 0%,
    rgba(227, 170, 109, 0) 100%
  );
  position: absolute;
  top: 0;
  right: 56px;
  bottom: 280px;
  left: 0px;
  opacity: 0.14;
  z-index: 0;
}

.common-bg {
  background: #171411;
}
